.note {
  position           : relative;
  width              : 100%;
  min-width          : 200px;
  height             : 100%;
  min-height         : 100px;
  margin             : 2px 0;
  padding            : 10px 10px 30px;
  color              : #414141;
  border             : solid 1px rgba(0, 0, 0, 0.061);
  -webkit-box-shadow : 3px 3px 7px 0 rgba(0, 0, 0, 0.2);
  box-shadow         : 3px 3px 7px 0 rgba(0, 0, 0, 0.2);
  text-align         : center;

  &:active {
    cursor : -webkit-grabbing;
  }

  p {
    padding     : 30px;
    font-family : "Roboto",
                  Arial;
    font-size   : 18px;
  }

  &:hover > span {
    opacity : 1;
  }

  > span {
    position   : absolute;
    right      : 2px;
    bottom     : 2px;
    opacity    : 0;
    transition : opacity .25s linear;
  }

  button {
    margin : 2px;
  }

  > textarea {
    height     : 75%;
    background : rgba(255, 255, 255, .5);
  }

  &.front {}

  &.back {}

  .handle {
    margin-bottom  : 10px;
    padding-bottom : 10px;
    border-bottom  : solid 2px #414141;
    cursor         : -webkit-grab;
  }

  .content {
    cursor : pointer;
  }

  .nf {
    line-height : 56px;
  }

  .bT {
    display                : inline-block;
    margin-right           : 8px;
    opacity                : 0;
    text-align             : right;
    -webkit-font-smoothing : antialiased;
    -webkit-transition     : opacity 150ms cubic-bezier(.4,0,1,1);
    transition             : opacity 150ms cubic-bezier(.4,0,1,1);
    -moz-user-select       : none;
    -ms-user-select        : none;
    -webkit-user-select    : none;
  }
}
